body {
   
   margin:10 ;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #f2f2f2;
   font-family :Arial, sans-serief;
}

.calculator {
 
   background: #2d8cf0;
   padding: 20px;
   border-radius: 20px;
   width: 280 px;
   box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

#display {
 
 width: 100%;
 height: 50px;
 font-size: 28px;
 text-align: right;
 padding: 5px 10px;
 border: black;
 border-radius: 10 px;
 margin-bottom: 15px;
 background: #e9f4ff;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;

   }

.button {
    height: 50px;
    font-size: 20 px;
    border :#3c8fe9;
    border-radius:10 px;
    cursor: pointer ;
    background: #1f6f1f;
    color: white;

}

.operator {
    background: #155bb5;
}

.equal {
    background: #0f4fa8;

}

.clear {
    background: #d9534f;
    grid-column: span 4;
}

button:hover {
    opacity:0.9;
}

